# Telegram Bot Token dari @BotFather
TELEGRAM_BOT_TOKEN=8729621958:AAH-oy-Ix9-wZeggu051GNh7VqitqxhX6L0

# Google Gemini API Key dari https://aistudio.google.com/
GEMINI_API_KEY=AQ.Ab8RN6LDoFfKYCE9tbKUECeFikFBKmX06rovOtV9qaGv90OJ8g

# Supabase Credentials dari https://supabase.com/
SUPABASE_URL=https://tlkvcgekbuqugqeslvqx.supabase.co
SUPABASE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InRsa3ZjZ2VrYnVxdWdxZXNsdnF4Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODcyNzk4MDUsImV4cCI6MjEwMjg1NTgwNX0.l-5ZRQGh4jvUsHQuXGVZIsIDAN_ekLAnjpWMJtGASak

# Port Web Server Keep-Alive (opsional untuk hosting)
PORT=8080
